<div id="colors" class="clearfix">
	<h2>Colors</h2>
	<div id="masonry" data-masonry-options='{ "columnWidth": 50, "itemSelector": ".item" }'>
		{{#each colors}}
			<div class='item {{name}}'>
				<div class='property'>
					<div class='name'>{{name}}</div>
					<div class='hex'></div>
				</div>
			</div>
		{{/each}}
	</div>
</div>
