<section id="colors">
	<h2>Colors</h2>
	<div id="masonry" data-masonry-options='{ "columnWidth": 200, "itemSelector": ".item" }'>
		{{#each colors}}
			<div class='item {{name}}'>
				<div class='property'>
					<div class='name'>{{name}}</div>
					<div class='hex'></div>
				</div>
				{{index}}
			</div>
		{{/each}}
	</div>
</section>