<div id="components" class="strapped-example">
  <h2>Components</h2>
  <h3>Title Bars</h3>
  <div class="strapped-preview">
    {{#each titleBars}}
      <div class="title-block {{className}}">
        <span class="tb-icon">
          <i class="icon icon-document-upload"></i>
        </span>
        <span class="tb-content">
          Upload your file
        </span>
      </div>
    {{/each}}
  </div>
</div>
