<div id="components" class="strapped-example">
  <div class="strapped-preview">

    <div class="title-block">
      <span class="tb-icon">
        <i class="icon icon-document-upload"></i>
      </span>
      <span class="tb-content">
        Upload your file
      </span>
    </div>

    <div class="tb tb-imperial-red">
      <span class="tb-icon">
        <i class="icon icon-document-upload"></i>
      </span>
      <span class="tb-content">
        Upload your file
      </span>
    </div>

    <div class="tb tb-egyptian-blue">
      <span class="tb-icon">
        <i class="icon icon-document-upload"></i>
      </span>
      <span class="tb-content">
        Upload your file
      </span>
    </div>

  </div>
</div>
