<div id="forms" class="clearfix">
	<h2>Forms</h2>
	<h3>Text links</h3>
	<div class="strapped-preview">
		<a href="#">Text link</a>
	</div>

	<h3>Buttons</h3>
	<div class="strapped-preview">
		{{#each buttons}}
			<button class='inline {{className}}'>
				{{name}}
			</button>
		{{/each}}
		<div class="inline close"></div>
	</div>

	<h3>Dropdowns</h3>
	<div class="strapped-preview">
		<div id="header">
			<div class="dropdown nav">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					<span>Main Navigation Dropdown</span>
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li class="group">
						<h4 class="label4b">Menu Group 1</h4>
						<ul>
							<li class="label3a">
								<a href="#">Menu 1</a>
								<a href="#">Menu 2</a>
							</li>
						</ul>
					</li>
					<li class="group">
						<h4 class="label4b">Menu Group 2</h4>
						<ul>
							<li class="label3a">
								<a href="#">Menu 3</a>
								<a href="#">Menu 4</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>

		<nav id="marketplace-nav">
			<ul>
				<li>
					<a href="#" class="active">
						<i class="icon-activity"></i>
						<span>Activity</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-logs"></i>
						<span>Logs</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-invoices"></i>
						<span>Invoices</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="icon-settings"></i>
						<span>Settings</span>
					</a>
				</li>
			</ul>
		</nav>

		<header>
      <div class="inline dropdown borderless right">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <span>Borderless dropdown</span>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu right">
          <li>
            <a href="#">Menu 1</a>
          </li>
          <li>
            <a href="#">Menu 2</a>
          </li>
        </ul>
      </div>

			<div class="inline dropdown action right">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					<span>Action</span>
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu right">
					<li>
						<a href="#">Menu 1</a>
					</li>
					<li>
						<a href="#">Menu 2</a>
					</li>
				</ul>
			</div>

			<div class="inline dropdown date right">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					<span>
						<div class="date">Nov 19, 2013</div>
						<div class="time">5:00pm</div>
					</span>
					<span class="em-dash">—</span>
					<span>
						<div class="date">Dec 18, 2013</div>
						<div class="time">5:00pm</div>
					</span>


					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu right">
					<li>
						<a href="#">Menu 1</a>
					</li>
					<li>
						<a href="#">Menu 2</a>
					</li>
				</ul>
			</div>
		</header>
	</div>
</div>
