<div id="forms" class="clearfix">
	<h2>Forms</h2>
	<h3>Buttons</h3>
	<div>
		{{#each buttons}}
			<button class='inline {{className}}'>
				{{name}}
			</button>
		{{/each}}
		<div class="inline close"></div>
	</div>
</div>
