<div id="icons" class="clearfix">
  <h2>Icons</h2>

    <h2>Loading</h2>
    <div class="strapped-preview">
      <div id="loadingSpinner" class="inline"></div>
      <div id="loadingSpinner"></div>
    </div>
    <h2>CSS mapping</h2>
    <div class="strapped-preview">
      <p class="small">This font was created with <a href="http://fontastic.me/">Fontastic</a></p>
      <ul class="glyphs css-mapping">
        <li>
          <div class="icon icon-activity"></div>
          <input type="text" readonly="readonly" value="activity">
        </li>
        <li>
          <div class="icon icon-addproductionmp"></div>
          <input type="text" readonly="readonly" value="addproductionmp">
        </li>
        <li>
          <div class="icon icon-addtestmp"></div>
          <input type="text" readonly="readonly" value="addtestmp">
        </li>
        <li>
          <div class="icon icon-alert"></div>
          <input type="text" readonly="readonly" value="alert">
        </li>
        <li>
          <div class="icon icon-arrow-backward-dashboard"></div>
          <input type="text" readonly="readonly" value="arrow-backward-dashboard">
        </li>
        <li>
          <div class="icon icon-arrow-forward-dashboard"></div>
          <input type="text" readonly="readonly" value="arrow-forward-dashboard">
        </li>
        <li>
          <div class="icon icon-arrow-triangle-forward"></div>
          <input type="text" readonly="readonly" value="arrow-triangle-forward">
        </li>
        <li>
          <div class="icon icon-avatar"></div>
          <input type="text" readonly="readonly" value="avatar">
        </li>
        <li>
          <div class="icon icon-balanced-dots"></div>
          <input type="text" readonly="readonly" value="balanced-dots">
        </li>
        <li>
          <div class="icon icon-balanced-logo-horizontal"></div>
          <input type="text" readonly="readonly" value="balanced-logo-horizontal">
        </li>
        <li>
          <div class="icon icon-business"></div>
          <input type="text" readonly="readonly" value="business">
        </li>
        <li>
          <div class="icon icon-carat-down"></div>
          <input type="text" readonly="readonly" value="carat-down">
        </li>
        <li>
          <div class="icon icon-carat-right"></div>
          <input type="text" readonly="readonly" value="carat-right">
        </li>
        <li>
          <div class="icon icon-carat-up"></div>
          <input type="text" readonly="readonly" value="carat-up">
        </li>
        <li>
          <div class="icon icon-csvexport"></div>
          <input type="text" readonly="readonly" value="csvexport">
        </li>
        <li>
          <div class="icon icon-docs"></div>
          <input type="text" readonly="readonly" value="docs">
        </li>
        <li>
          <div class="icon icon-document-upload"></div>
          <input type="text" readonly="readonly" value="document-upload">
        </li>
        <li>
          <div class="icon icon-edit"></div>
          <input type="text" readonly="readonly" value="edit">
        </li>
        <li>
          <div class="icon icon-github"></div>
          <input type="text" readonly="readonly" value="github">
        </li>
        <li>
          <div class="icon icon-jsfiddle"></div>
          <input type="text" readonly="readonly" value="jsfiddle">
        </li>
        <li>
          <div class="icon icon-key"></div>
          <input type="text" readonly="readonly" value="key">
        </li>
        <li>
          <div class="icon icon-loading"></div>
          <input type="text" readonly="readonly" value="loading">
        </li>
        <li>
          <div class="icon icon-menu"></div>
          <input type="text" readonly="readonly" value="menu">
        </li>
        <li>
          <div class="icon icon-navigation-arrow-back"></div>
          <input type="text" readonly="readonly" value="navigation-arrow-back">
        </li>
        <li>
          <div class="icon icon-navigation-arrow-forward"></div>
          <input type="text" readonly="readonly" value="navigation-arrow-forward">
        </li>
        <li>
          <div class="icon icon-small-x"></div>
          <input type="text" readonly="readonly" value="small-x">
        </li>
        <li>
          <div class="icon icon-notification"></div>
          <input type="text" readonly="readonly" value="notification">
        </li>
        <li>
          <div class="icon icon-order"></div>
          <input type="text" readonly="readonly" value="order">
        </li>
        <li>
          <div class="icon icon-person"></div>
          <input type="text" readonly="readonly" value="person">
        </li>
        <li>
          <div class="icon icon-plus-sign"></div>
          <input type="text" readonly="readonly" value="plus-sign">
        </li>
        <li>
          <div class="icon icon-productionmp"></div>
          <input type="text" readonly="readonly" value="productionmp">
        </li>
        <li>
          <div class="icon icon-quora"></div>
          <input type="text" readonly="readonly" value="quora">
        </li>
        <li>
          <div class="icon icon-search"></div>
          <input type="text" readonly="readonly" value="search">
        </li>
        <li>
          <div class="icon icon-settings"></div>
          <input type="text" readonly="readonly" value="settings">
        </li>
        <li>
          <div class="icon icon-star"></div>
          <input type="text" readonly="readonly" value="star">
        </li>
        <li>
          <div class="icon icon-testmp"></div>
          <input type="text" readonly="readonly" value="testmp">
        </li>
        <li>
          <div class="icon icon-tooltip"></div>
          <input type="text" readonly="readonly" value="tooltip">
        </li>
        <li>
          <div class="icon icon-twitter"></div>
          <input type="text" readonly="readonly" value="twitter">
        </li>
        <li>
          <div class="icon icon-watchers"></div>
          <input type="text" readonly="readonly" value="watchers">
        </li>
        <li>
          <div class="icon icon-bank-account"></div>
          <input type="text" readonly="readonly" value="bank-account">
        </li>
        <li>
          <div class="icon icon-card"></div>
          <input type="text" readonly="readonly" value="card">
        </li>
        <li>
          <div class="icon icon-export"></div>
          <input type="text" readonly="readonly" value="export">
        </li>
        <li>
          <div class="icon icon-question-mark"></div>
          <input type="text" readonly="readonly" value="question-mark">
        </li>
        <li>
          <div class="icon icon-x"></div>
          <input type="text" readonly="readonly" value="x">
        </li>
        <li>
          <div class="icon icon-arrow-thin-backward"></div>
          <input type="text" readonly="readonly" value="arrow-thin-backward">
        </li>
        <li>
          <div class="icon icon-arrow-thin-forward"></div>
          <input type="text" readonly="readonly" value="arrow-thin-forward">
        </li>
        <li>
          <div class="icon icon-customers"></div>
          <input type="text" readonly="readonly" value="customers">
        </li>
        <li>
          <div class="icon icon-disputes"></div>
          <input type="text" readonly="readonly" value="disputes">
        </li>
        <li>
          <div class="icon icon-my-marketplace"></div>
          <input type="text" readonly="readonly" value="my-marketplace">
        </li>
        <li>
          <div class="icon icon-payments"></div>
          <input type="text" readonly="readonly" value="payments">
        </li>
        <li>
          <div class="icon icon-sort-descending"></div>
          <input type="text" readonly="readonly" value="sort-descending">
        </li>
        <li>
          <div class="icon icon-sort-ascending"></div>
          <input type="text" readonly="readonly" value="sort-ascending">
        </li>
        <li>
          <div class="icon icon-sort-none"></div>
          <input type="text" readonly="readonly" value="sort-none">
        </li>
        <li>
          <div class="icon icon-invoices"></div>
          <input type="text" readonly="readonly" value="invoices">
        </li>
        <li>
          <div class="icon icon-logs"></div>
          <input type="text" readonly="readonly" value="logs">
        </li>
        <li>
          <div class="icon icon-checkmark"></div>
          <input type="text" readonly="readonly" value="checkmark">
        </li>
        <li>
          <div class="icon icon-pushtocard"></div>
          <input type="text" readonly="readonly" value="pushtocard">
        </li>
        <li>
          <div class="icon icon-card-processing"></div>
          <input type="text" readonly="readonly" value="card-processing">
        </li>
        <li>
          <div class="icon icon-ach-debit"></div>
          <input type="text" readonly="readonly" value="ach-debit">
        </li>
        <li>
          <div class="icon icon-ach-credit"></div>
          <input type="text" readonly="readonly" value="ach-credit">
        </li>
        <li>
          <div class="icon icon-mastercard"></div>
          <input type="text" readonly="readonly" value="mastercard">
        </li>
        <li>
          <div class="icon icon-discover"></div>
          <input type="text" readonly="readonly" value="discover">
        </li>
        <li>
          <div class="icon icon-american-express"></div>
          <input type="text" readonly="readonly" value="american-express">
        </li>
        <li>
          <div class="icon icon-visa"></div>
          <input type="text" readonly="readonly" value="visa">
        </li>
      </ul>
    </div>
<script type="text/javascript">
(function() {
  var glyphs, _i, _len, _ref;

  _ref = document.getElementsByClassName('glyphs');
  for (_i = 0, _len = _ref.length; _i < _len; _i++) {
    glyphs = _ref[_i];
    glyphs.addEventListener('click', function(event) {
      if (event.target.tagName === 'INPUT') {
        return event.target.select();
      }
    });
  }

}).call(this);
</script>
