<div id="logos" class="clearfix">
	<h2>Logos</h2>
	<div class="item">
		<h3>Large logo (1460 px x 134 px)</h3>
		<img src="static/images/balanced_logo_large.png" width="70%">
	</div>
	<div class="item">
		<h3>Small logo (200 px x 115 px)</h3>
		<img src="static/images/balanced_logo_small.png">
	</div>
</div>