<div id="tables" class="strapped-example">
  <h2>Table</h2>
  <div class="strapped-preview">
    <table class="items">
      <thead>
        <tr>
          <th><span>#</span></th>
          <th><span>First Name</span></th>
          <th><span>Last Name</span></th>
          <th><span>Username</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span>1</span></td>
          <td><span>Mark</span></td>
          <td><span>Otto</span></td>
          <td><span>@mdo</span></td>
        </tr>
        <tr>
          <td><span>2</span></td>
          <td><span>Jacob</span></td>
          <td><span>Thornton</span></td>
          <td><span>@fat</span></td>
        </tr>
        <tr>
          <td><span>3</span></td>
          <td><span>Larry</span></td>
          <td><span>the Bird</span></td>
          <td><span>@twitter</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
