<!DOCTYPE html>
<html>
<head>
	<title>Strapped!</title>
	<link rel="stylesheet" href="{{ cssFile }}">
</head>
<body>
<h1>
Welcome to Strapped.
</h1>
<!-- bower:js -->
<!-- endbower -->
</body>
</html>