/*
* grids.less
*
*/

@headerHeight: 75px;

// our grid is 26 columns - total 1155px
@gridColumns: 26;
@gridColumnWidth: 30px;
@gridGutterWidth: 15px;

// main is our main content area underneath the header
@mainWidth: 1155px;
@mainMinHeight: 581px;
@mainVerticalPadding: 45px;
@mainMargin: 18px;
@marketplaceNavWidth: 180px;

// content is our main content area where most data for the current page is displayed
@pageTitleWidth: @gridGutterWidth * 65;
@contentBackground: @white;
@lineRuleBackground: @gray3;

#header {
	position: relative;
	background-color: @gray9;
	height: 50px;
}

#main {
	background-color: @contentBackground;
	position: relative;
}

#marketplace-nav {
	background-color: @gray7;
	width: @marketplaceNavWidth;
	min-height: @mainMinHeight;
	position: absolute;
	height: 100%;

	&.noshow {
		background-color: @contentBackground;
	}

	a.btn {
		display: inline-block;
		padding: 9px 10px;
		margin: 11px 10px 0 10px;
	}

	ul {
		padding: 0;
	}

	li {
		display: block;
		border-top: 1px solid @gray6;

		&:last-of-type {
			border-bottom: 1px solid @gray6;    	
		}

		i {
			font-size: 14px;
			vertical-align: text-top;
			margin-right: 5px;

			&.icon-addcustomer, &.icon-bankaccount {
				color: @white;
				display: inline-block;
				height: 14px;
				width: 14px;
			}

			&.icon-addcustomer {
				background-color: @byzantiumPurple60;
			}

			&.icon-bankaccount {
				background-color: @persianBlue60;
				font-size: 16px;
				line-height: 35px;
				margin-bottom: 9px;
			}
		}

		a {
			.sl;
			color: @gray4;
			display: block;
			padding: 15px;
			position: relative;
			text-decoration: none;
		  
			&:hover {
				background-color: @gray8;
				color: @white;
			}

			&.active {
				background-color: @gray9;
				color: @white;
			}
		}

		.nav-label {
			color: inherit;
			display: block;
		}
	}
}