/*
* grids.less
*
*/

@headerHeight: 75px;

// our grid is 26 columns - total 1155px
@gridColumns: 26;
@gridColumnWidth: 30px;
@gridGutterWidth: 15px;

// main is our main content area underneath the header
@mainWidth: 1155px;
@mainMinHeight: 581px;
@mainVerticalPadding: 45px;
@mainMargin: 18px;
@marketplaceNavWidth: 180px;

// content is our main content area where most data for the current page is displayed
@pageTitleWidth: @gridGutterWidth * 65;
@contentBackground: @white;
@lineRuleBackground: @gray3;

*, :before, :after {
	.box-sizing(border-box);
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

#header {
	position: relative;
	background-color: @gray9;
	height: 50px;
}

#main {
	background-color: @contentBackground;
	position: relative;
}

#marketplace-nav {
	background-color: @gray7;
	width: @marketplaceNavWidth;
	min-height: @mainMinHeight;
	position: absolute;
	height: 100%;

	&.noshow {
		background-color: @contentBackground;
	}

	.button-groups {
		text-align: center;

		a.btn {
			display: inline-block;
			padding: 9px 10px;
			margin: 10px auto 0;
		}
	}

	ul {
		padding: 0;
	}

	li {
		display: block;
		border-top: 1px solid @gray6;

		&:last-of-type {
			border-bottom: 1px solid @gray6;    	
		}

		i {
			font-size: 14px;
			vertical-align: text-top;
			margin-right: 10px;

			&.icon-addcustomer, &.icon-bankaccount {
				color: @white;
				display: inline-block;
				height: 14px;
				width: 14px;
			}

			&.icon-addcustomer {
				background-color: @byzantiumPurple60;
			}

			&.icon-bankaccount {
				background-color: @persianBlue60;
				font-size: 16px;
				line-height: 35px;
				margin-bottom: 9px;
			}
		}

		a {
			.sl;
			color: @gray3;
			display: block;
			padding: 15px;
			position: relative;
			text-decoration: none;
		  
			&:hover {
				background-color: @gray8;
				color: @white;
			}

			&.active, &:active {
				background-color: @gray9;
				color: @white;
			}
		}

		.nav-label {
			color: inherit;
			display: block;
		}
	}
}

#notfound {
	padding-top: 150px;

	h1 {
		.num-xlg;
	}

	h3 {
		.sl-sb;
		border-bottom: 1px solid @gray3;
	}

	p {
		.sl-lg-lt;
		width: 350px;
		z-index: 10;
	}

	.next-steps {
		> div:first-of-type {
			padding-left: 0;
		}
		a {
			display: block;
			padding-bottom: 5px;
		}
	}

	.balloon {
		width: 110px;
		height: 160px;
		position: absolute;
		background-size: cover;	

		&.red {
			top: 100px;
			right: 40%;
			background-image: url('../images/404/red_balloon.png');
			.animation(float-up-left, 2s, ease, infinite);
		}

		&.green {
			top: 100px;
			right: 10%;
			background-image: url('../images/404/green_balloon.png');
			.animation(float-up-right, 4s, ease, infinite);
		}

		&.yellow {
			top: 400px;
			right: 25%;
			background-image: url('../images/404/yellow_balloon.png');
			.animation(float-down-left, 3s, ease, infinite);
		}
	}

	.cloud {
		position: absolute;
		top: 300px;
		background-image: url('../images/404/clouds.png');
		background-size: cover;
		background-repeat: repeat-x;
		width: 100%;
		height: 180px;
		opacity: 0.8;
		.animation(slide-left, 22s, linear, infinite);
	}

	.cloud-rest {
		position: absolute;
		top: 480px;
		bottom: 0;
		background-color: @white;
		opacity: 0.8;
		width: 100%;
	}
}