/*
* forms.less
*
* Inputs, Buttons, Dropdowns
*/

*:focus {
	outline: none !important;
}

a {
	.sl-sb;
	color: @persianBlue60;
	.transition(color);
	.transition-duration(200ms);

	&:visited {
		color: @persianBlue60;
	}

	&:hover {
		color: @persianBlue100;
		text-decoration: none;
	}

	&:active {
		color: @persianBlue100;
	}
}

.btn, button {
	.sl-sb;
	color: @white;
	text-align: center;
	vertical-align: middle;
	line-height: 1em;
	box-sizing: initial;
	padding: 9px 31px;
	border-radius: 0;
	border: 1px solid @persianBlue60;
	background-color: @persianBlue60;
	.transition(background-color);
	.transition-duration(200ms);

	&:visited {
		color: @white;
	}

	&:hover {
		border: 1px solid @persianBlue100;
		background-color: @persianBlue100;
		color: @white;
		text-decoration: none;
	}

	&:focus {
		color: @white;
		.box-shadow(none);
	}

	&.secondary {
		color: @gray4;
		border-color: @gray2;
		background-color: @white;

		&:visited {
			color: @gray4;
		}

		&:hover {
			color: @gray4;
			background-color: @gray1;
			border-color: @gray2;
		}
	}

	&.special {
		.sl-sb;
		color: @white;
		font-size: 20px;
		line-height: 28px;
		border: 1px solid @lavenderPurple60;
		background-color: @lavenderPurple60;
		padding: 10px 39px;

		&:hover {
			border-color: @lavenderPurple100;
			background-color: @lavenderPurple100;
		}
	}
  
	&.disabled {
		color: @white;
		border-color: @persianBlue20;
		background-color: @persianBlue20;
	}
}

.btn-link {
	height: 30px;
	padding: 0 13px;
}

.dropdown {
	display: block;
	width: auto;

	.dropdown-toggle {
		display: block;
		text-decoration: none;
		.transition(background-color);
		.transition-duration(200ms);

		span {
			display: inline-block;
			max-width: 110px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			line-height: normal;
		}

		.caret {
			border-width: 5px;
			margin-top: 8px;
			margin-left: 2px;
			vertical-align: top;
		}

		.icon {
			float: left;
			font-size: 16px;
			color: @white;
			margin-right: 8px;
		}
	}

	&.right {
		float: right;
	}

	.dropdown-menu {
		position: absolute;
		padding: 5px 0 0;
		margin: 0;
		border: 0;
		border-radius: 0;
		background: @white;
		text-align: left;
		.box-shadow(0px, 2px, 3px, @gray2);

		> li {
			margin: 0;
			padding: 0;
			list-style: none;

			&.group {
				border-bottom: 1px solid @gray2;
				padding-bottom: 10px;

				&:last-of-type {
					border-bottom: none;
				}
			}

			h4 {
				margin: 10px 0;
				padding: 0 15px;
			}

			> ul {
				padding: 0;

				> li {
					margin: 0;
					padding: 0;
					list-style: none;
				}
			}       
		}

		a {
			color: @black;
			display: block;
			padding: 10px 20px;

			&:hover {
				text-decoration: none;
				background: @gray1;
				color: @black;
				cursor: pointer;
			}
		}

		&.right {
			right: 0;
			left: auto;

			&::before {
				left: auto !important;
				right: 9px;
			}

			&::after {
				left: auto !important;
				right: 10px;
			}
		}
	}

	&.nav {
		float: left;
		margin: 0;
		height: 50px;

		.dropdown-toggle {
			height: 100%;

			span {
				.sl-sb;
				color: @gray4;
				line-height: 17px;
				padding: 15px 0px 15px 10px;
			}

			.caret {
				border-top-color: @gray5;
				margin: 22px 5px;
			}

			&:active {
				outline: 0;
			}
		}

		&.open, .dropdown-toggle:hover {
			background-color: @black;
			
			.dropdown {
				background-color: @white;
			}

			span {
				color: @white;
			}

			.caret {
				border-top-color: @white;
			}
		}

		.dropdown-menu {
			min-width: 180px;
			font-size: 15px;
		}
	}

	&.action {
		height: 34px;

		.dropdown-toggle {
			padding: 5px 5px 0px;
			border: 1px solid @gray2;

			span {
				.sl;
				line-height: 23px;
				border-right: 1px solid @gray2;
				padding: 0 10px 0 5px;
			}
			.caret {
				border-width: 4px;
				margin-left: 1px;
				border-top-color: @gray4;
			}

			&:active {
				outline: 0;
			}
		}

		&.open, .dropdown-toggle:hover {
			background-color: @gray1;
		}

		.dropdown-menu {
			.sl;
		}
	}

	&.date {
		.dropdown-toggle {
			height: 44px;
			padding: 5px 5px;
			border: 1px solid @gray2;

			span {
				padding: 0 5px;

				.date {
					.sl;
				}

				.time {
					.sl-sm;
					color: @gray4;
					line-height: normal;
				}

				&.em-dash {
					.sl;
					vertical-align: top;
					padding: 0;
				}

				&:last-of-type {
					padding-right: 10px;
					border-right: 1px solid @gray2;	
				}
			}

			.caret {
				border-width: 4px;
				margin-top: 14px;
				margin-left: 1px;
				border-top-color: @gray4;
			}
		}

		&.open, .dropdown-toggle:hover {
			background-color: @gray1;
		}

		.dropdown-menu {
			.sl;
			min-width: 230px;
		}
	}
}