/*
* forms.less
*
* Inputs, Buttons, Dropdowns
*/

*:focus {
	outline: none !important;
}

a {
	font: normal normal normal @baseFontSize @baseFontFamilySemiBold;
	line-height: @baseLineHeight;
	color: @persianBlue60;
	.transition(color);
	.transition-duration(200ms);

	&:visited {
		color: @persianBlue60;
	}

	&:hover {
		color: @persianBlue100;
		text-decoration: none;
	}

	&:active {
		color: @persianBlue100;
	}
}

.btn, button {
	font: normal normal normal @baseFontSize @baseFontFamilySemiBold;
	line-height: @baseLineHeight;
	font-size: 14px;
	color: @white;
	text-align: center;
	vertical-align: middle;
	line-height: 1em;
	box-sizing: initial;
	padding: 9px 31px;
	border-radius: 0;
	border: 1px solid @persianBlue60;
	background-color: @persianBlue60;
	.transition(background-color);
	.transition-duration(200ms);

	&:visited {
		color: @white;
	}

	&:hover {
		border: 1px solid @persianBlue100;
		background-color: @persianBlue100;
		color: @white;
		text-decoration: none;
	}

	&:focus {
		color: @white;
		.box-shadow(none);
	}

	&.secondary {
		color: @gray4;
		border-color: @gray2;
		background-color: @white;

		&:visited {
			color: @gray4;
		}

		&:hover {
			color: @gray4;
			background-color: @gray1;
			border-color: @gray2;
		}
	}

	&.special {
		font: normal normal normal @baseFontSize @baseFontFamilySemiBold;
		font-size: 20px;
		line-height: 28px;
		border: 1px solid @lavenderPurple60;
		background-color: @lavenderPurple60;
		padding: 10px 39px;

		&:hover {
			color: @white;
			border-color: @lavenderPurple100;
			background-color: @lavenderPurple100;
		}
	}
  
	&.disabled {
		color: @white;
		border-color: @persianBlue20;
		background-color: @persianBlue20;
	}
}

.close {
	position: absolute;
	width: 22px;
	height: 22px;
	background-color: @gray5;
	border: 0;
	font-size: 25px;
	padding: 3px 0 0;
	color: @gray5;
	line-height: 21px;

	&:after {
		.cssicon(
			@url: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAKCAYAAACALL/6AAAAV0lEQVR42p2R4QlAIQiEHcERG6UNGqUR3giNdBUoTy76kR8IcqeRKgB0xWfRhNha8NXFgp9GxU6RCJu3R7ip46TLBZ9nwLBcUw2pL+WHJrMGvfJanw83AfPFCSKK6ozSAAAAAElFTkSuQmCC'),
			@width: 12px,
			@height: 10px,
			@display: block
		);
		position: absolute;
		top: 7px;
		left: 5px;
		content: ' ';
	}
	&:hover {
		background-color: rgba(255, 255, 255, 0.2);
		color: rgba(255, 255, 255, 0.2);
	}
}

.dropdown {
	display: block;
	width: auto;

	.dropdown-toggle {
		display: block;
		text-decoration: none;
		.transition(background-color);
		.transition-duration(200ms);

		span {
			display: inline-block;
			max-width: 215px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			line-height: normal;
		}

		.caret {
			border-width: 5px;
			margin-top: 8px;
			margin-left: 2px;
			vertical-align: top;
		}
	}

	&.right {
		float: right;
	}

	.dropdown-menu {
		position: absolute;
		padding: 5px 0 0;
		margin: 0;
		border: 0;
		border-radius: 0;
		background: @white;
		text-align: left;
		.box-shadow(0px, 2px, 3px, @gray2);

		> li {
			margin: 0;
			padding: 0;
			list-style: none;

			&.group {
				border-bottom: 1px solid @gray2;
				padding-bottom: 10px;

				&:last-of-type {
					border-bottom: none;
				}
			}

			h4 {
				margin: 10px 0;
				padding: 0 15px;
			}

			> ul {
				padding: 0;

				> li {
					margin: 0;
					padding: 0;
					list-style: none;
				}
			}       
		}

		a {
			color: @black;
			display: block;
			padding: 10px 20px;

			&:hover {
				text-decoration: none;
				background: @gray1;
				color: @black;
				cursor: pointer;
			}
		}

		&.right {
			right: 0;
			left: auto;

			&::before {
				left: auto !important;
				right: 9px;
			}

			&::after {
				left: auto !important;
				right: 10px;
			}
		}
	}

	&.nav {
		text-align: center;
		float: left;
		margin: 0;

		.dropdown-toggle {
			height: 50px;
			padding: 18px 15px;

			span {
				.sl-md-sb;
				color: @gray4;
				line-height: normal;
			}

			.caret {
				border-top-color: @gray5;
				margin-top: 5px;
			}

			&:active {
				outline: 0;
			}
		}

		&.open, .dropdown-toggle:hover {
			background-color: @black;
			
			.dropdown {
				background-color: @white;
			}

			span {
				color: @white;
			}

			.caret {
				border-top-color: @white;
			}
		}

		.dropdown-menu {
			font-size: 15px;
		}
	}

	&.action {
		.dropdown-toggle {
			height: 34px;
			padding: 5px 5px;
			border: 1px solid @gray2;

			span {
				.sl-md;
				line-height: 23px;
				border-right: 1px solid @gray2;
				padding: 0 10px 0 5px;
			}
			.caret {
				border-width: 4px;
				margin-left: 1px;
				border-top-color: @gray4;
			}

			&:active {
				outline: 0;
			}
		}

		&.open, .dropdown-toggle:hover {
			background-color: @gray1;
		}

		.dropdown-menu {
			font-size: 13px;
		}
	}
}