<!DOCTYPE html>
<html>
<head>
	<title>Strapped!</title>
	<link rel="stylesheet" href="{{ cssFile }}">
</head>
<body>
	<h1>
		Welcome to Strapped.
	</h1>

	{{> colors}}
	{{> fonts}}
	{{> buttons}}

	<!-- bower:js -->
	<script src="bower_components/jquery/jquery.js"></script>
	<script src="bower_components/handlebars/handlebars.js"></script>
	<script src="bower_components/handlebars/handlebars.runtime.js"></script>
	<!-- endbower -->
	<script src="{{ jsLibFile }}"></script>
</body>
</html>